### Social Media Advertisment Performance - Data Dictionary

Users: Detailed individual profiles, including age, gender, country, location, and interests. This allows for granular demographic analysis and segmentation.

Campaigns: High-level campaign data, including budget, duration, and a clear start/end date, providing the strategic context for all ad-related activities.

Ads: Specific creative assets tied to campaigns, complete with their own targeting parameters for age, gender, and interests. This is essential for evaluating targeting effectiveness.

Ad Events: The central transactional log, capturing every user interaction from a simple Impression to a final Purchase. This table is the key to understanding the full conversion funnel.

CTR: Click-Through Rate, a metric that measures how often a user clicks an ad after seeing it. CTR measures initial ad engagement and traffic generation

CVR: Conversion Rate, the percentage of users who complete a desired action (like a purchase or download) after clicking on an ad. CVR assesses the effectiveness of the landing page in persuading visitors to convert into customers or leads

In [82]:
import pandas as pd

##### Importing the dataset and checking the columns

In [83]:
ads = pd.read_csv("../data/ads.csv")
ad_events = pd.read_csv("../data/ad_events.csv")
campaigns = pd.read_csv("../data/campaigns.csv")
users = pd.read_csv("../data/users.csv")

print(ads.tail(10))
print(ad_events.tail(10))
print(campaigns.tail(10))
print(users.tail(10))

     ad_id  campaign_id ad_platform   ad_type target_gender target_age_group  \
190    191           19    Facebook     Image           All            25-34
191    192           47    Facebook  Carousel        Female            35-44
192    193            5   Instagram  Carousel           All            25-34
193    194           41    Facebook     Image           All            18-24
194    195            9   Instagram  Carousel        Female            35-44
195    196           12    Facebook   Stories          Male            35-44
196    197            9    Facebook   Stories           All              All
197    198           34    Facebook     Video           All            35-44
198    199           15   Instagram     Video          Male            25-34
199    200           44   Instagram  Carousel          Male            18-24

        target_interests
190            lifestyle
191              fashion
192              finance
193         food, travel
194  technology, fashion
195       gaming, sports
196    lifestyle, gaming
197   fitness, lifestyle
198            art, news
199          photography
        event_id  ad_id user_id            timestamp day_of_week time_of_day  \
399990    399991     91   07960  2025-06-23 16:56:39      Monday   Afternoon
399991    399992    133   7f493  2025-06-19 10:22:59    Thursday     Morning
399992    399993     91   5b6b0  2025-05-15 17:59:45    Thursday   Afternoon
399993    399994    112   aecf3  2025-07-30 00:14:24   Wednesday       Night
399994    399995     60   871cf  2025-05-09 10:22:00      Friday     Morning
399995    399996    132   3cb8c  2025-08-01 22:36:54      Friday     Evening
399996    399997    200   fe0e3  2025-05-31 14:53:18    Saturday   Afternoon
399997    399998      2   a08c1  2025-07-27 13:39:51      Sunday   Afternoon
399998    399999    109   4f0cf  2025-05-16 02:38:23      Friday       Night
399999    400000     63   2c11d  2025-06-15 12:06:28      Sunday   Afternoon

        event_type
399990  Impression
399991  Impression
399992  Impression
399993  Impression
399994  Impression
399995  Impression
399996  Impression
399997       Click
399998  Impression
399999  Impression
    campaign_id                name  start_date    end_date  duration_days  \
40           41  Campaign_41_Winter  2025-04-02  2025-06-12             71
41           42  Campaign_42_Summer  2025-06-08  2025-07-25             47
42           43  Campaign_43_Winter  2025-04-23  2025-06-12             50
43           44      Campaign_44_Q3  2025-07-14  2025-09-22             70
44           45  Campaign_45_Summer  2025-05-26  2025-08-05             71
45           46  Campaign_46_Winter  2025-05-10  2025-08-07             89
46           47  Campaign_47_Launch  2025-06-17  2025-09-03             78
47           48  Campaign_48_Winter  2025-04-08  2025-06-01             54
48           49  Campaign_49_Winter  2025-02-21  2025-05-17             85
49           50  Campaign_50_Summer  2025-07-02  2025-08-03             32

    total_budget
40      85220.35
41       7918.04
42      81350.30
43      15914.87
44      53303.55
45      94023.76
46      69493.36
47      13842.07
48      28962.34
49      47274.70
     user_id user_gender  user_age age_group         country  \
9990   31cb3      Female        45     45-54   United States
9991   96f1e        Male        32     25-34         Germany
9992   4753a      Female        28     25-34         Germany
9993   5f222        Male        38     35-44   United States
9994   41dc9      Female        28     25-34          Mexico
9995   24364        Male        18     18-24   United States
9996   68b82        Male        24     18-24          Mexico
9997   39f39        Male        29     25-34   United States
9998   0b8e7        Male        31     25-34  United Kingdom
9999   99e3f        Male        37     35-44          Canada

                location                interests
9990         Huntermouth  gaming, art, technology
9991        Port Suzanne                  fitness
9992  East Katherineberg             health, news
9993       New Ellenland      food, fashion, news
9994        Brownborough             gaming, food
9995          Curtisside     travel, fashion, art
9996           Brownland                  finance
9997         Watersburgh                   health
9998       South Kenneth             art, fashion
9999    New Courtneyview                  fitness

In [84]:
def clean_columns(df, cols):
    for col in cols:
        df[col] = df[col].str.lower().str.strip()

# convert all string values to lowercase, erase any whitespaces
clean_columns(ads, ['ad_platform', 'ad_type', 'target_gender'])
clean_columns(ad_events, ['day_of_week', 'time_of_day', 'event_type'])
clean_columns(users, ['user_gender', 'country', 'location'])
campaigns['name'] = campaigns['name'].str.lower().str.strip()

In [85]:
print(ads.tail(10))
print(ad_events.tail(10))
print(campaigns.tail(10))
print(users.tail(10))

     ad_id  campaign_id ad_platform   ad_type target_gender target_age_group  \
190    191           19    facebook     image           all            25-34
191    192           47    facebook  carousel        female            35-44
192    193            5   instagram  carousel           all            25-34
193    194           41    facebook     image           all            18-24
194    195            9   instagram  carousel        female            35-44
195    196           12    facebook   stories          male            35-44
196    197            9    facebook   stories           all              All
197    198           34    facebook     video           all            35-44
198    199           15   instagram     video          male            25-34
199    200           44   instagram  carousel          male            18-24

        target_interests
190            lifestyle
191              fashion
192              finance
193         food, travel
194  technology, fashion
195       gaming, sports
196    lifestyle, gaming
197   fitness, lifestyle
198            art, news
199          photography
        event_id  ad_id user_id            timestamp day_of_week time_of_day  \
399990    399991     91   07960  2025-06-23 16:56:39      monday   afternoon
399991    399992    133   7f493  2025-06-19 10:22:59    thursday     morning
399992    399993     91   5b6b0  2025-05-15 17:59:45    thursday   afternoon
399993    399994    112   aecf3  2025-07-30 00:14:24   wednesday       night
399994    399995     60   871cf  2025-05-09 10:22:00      friday     morning
399995    399996    132   3cb8c  2025-08-01 22:36:54      friday     evening
399996    399997    200   fe0e3  2025-05-31 14:53:18    saturday   afternoon
399997    399998      2   a08c1  2025-07-27 13:39:51      sunday   afternoon
399998    399999    109   4f0cf  2025-05-16 02:38:23      friday       night
399999    400000     63   2c11d  2025-06-15 12:06:28      sunday   afternoon

        event_type
399990  impression
399991  impression
399992  impression
399993  impression
399994  impression
399995  impression
399996  impression
399997       click
399998  impression
399999  impression
    campaign_id                name  start_date    end_date  duration_days  \
40           41  campaign_41_winter  2025-04-02  2025-06-12             71
41           42  campaign_42_summer  2025-06-08  2025-07-25             47
42           43  campaign_43_winter  2025-04-23  2025-06-12             50
43           44      campaign_44_q3  2025-07-14  2025-09-22             70
44           45  campaign_45_summer  2025-05-26  2025-08-05             71
45           46  campaign_46_winter  2025-05-10  2025-08-07             89
46           47  campaign_47_launch  2025-06-17  2025-09-03             78
47           48  campaign_48_winter  2025-04-08  2025-06-01             54
48           49  campaign_49_winter  2025-02-21  2025-05-17             85
49           50  campaign_50_summer  2025-07-02  2025-08-03             32

    total_budget
40      85220.35
41       7918.04
42      81350.30
43      15914.87
44      53303.55
45      94023.76
46      69493.36
47      13842.07
48      28962.34
49      47274.70
     user_id user_gender  user_age age_group         country  \
9990   31cb3      female        45     45-54   united states
9991   96f1e        male        32     25-34         germany
9992   4753a      female        28     25-34         germany
9993   5f222        male        38     35-44   united states
9994   41dc9      female        28     25-34          mexico
9995   24364        male        18     18-24   united states
9996   68b82        male        24     18-24          mexico
9997   39f39        male        29     25-34   united states
9998   0b8e7        male        31     25-34  united kingdom
9999   99e3f        male        37     35-44          canada

                location                interests
9990         huntermouth  gaming, art, technology
9991        port suzanne                  fitness
9992  east katherineberg             health, news
9993       new ellenland      food, fashion, news
9994        brownborough             gaming, food
9995          curtisside     travel, fashion, art
9996           brownland                  finance
9997         watersburgh                   health
9998       south kenneth             art, fashion
9999    new courtneyview                  fitness

In [86]:
print("=== ADS ===")
ads.info()
print("=== AD EVENTS ===")
ad_events.info()
print("=== CAMPAIGNS ===")
campaigns.info()
print("=== USERS ===")
users.info()

=== ADS ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ad_id             200 non-null    int64
 1   campaign_id       200 non-null    int64
 2   ad_platform       200 non-null    object
 3   ad_type           200 non-null    object
 4   target_gender     200 non-null    object
 5   target_age_group  200 non-null    object
 6   target_interests  200 non-null    object
dtypes: int64(2), object(5)
memory usage: 11.1+ KB
=== AD EVENTS ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400000 entries, 0 to 399999
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   event_id     400000 non-null  int64
 1   ad_id        400000 non-null  int64
 2   user_id      400000 non-null  object
 3   timestamp    400000 non-null  object
 4   day_of_week  400000 non-null  object
 5   time_of_day  400000 non-null  object
 6   event_type   400000 non-null  object
dtypes: int64(2), object(5)
memory usage: 21.4+ MB
=== CAMPAIGNS ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    50 non-null     int64
 1   name           50 non-null     object
 2   start_date     50 non-null     object
 3   end_date       50 non-null     object
 4   duration_days  50 non-null     int64
 5   total_budget   50 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 2.5+ KB
=== USERS ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      10000 non-null  object
 1   user_gender  10000 non-null  object
 2   user_age     10000 non-null  int64
 3   age_group    10000 non-null  object
 4   country      10000 non-null  object
 5   location     10000 non-null  object
 6   interests    10000 non-null  object
dtypes: int64(1), object(6)
memory usage: 547.0+ KB

In [87]:
ad_events['timestamp'] = pd.to_datetime(ad_events['timestamp'], errors='coerce')
print(ad_events['timestamp'].dtypes)  
print(ad_events['timestamp'].isnull().sum())

campaigns['start_date'] = pd.to_datetime(campaigns['start_date'], errors='coerce')
print(campaigns['start_date'].dtypes)
print(campaigns['start_date'].isnull().sum())

campaigns['end_date'] = pd.to_datetime(campaigns['end_date'], errors='coerce')
print(campaigns['end_date'].dtypes)
print(campaigns['end_date'].isnull().sum())

datetime64[ns]
0
datetime64[ns]
0
datetime64[ns]
0

Check to see where data cleaning is required

In [88]:
ads.isnull().sum()

ad_id               0
campaign_id         0
ad_platform         0
ad_type             0
target_gender       0
target_age_group    0
target_interests    0
dtype: int64

In [89]:
ads.duplicated().sum()

np.int64(0)

In [90]:
ad_events.isnull().sum()

event_id       0
ad_id          0
user_id        0
timestamp      0
day_of_week    0
time_of_day    0
event_type     0
dtype: int64

In [91]:
ad_events.duplicated().sum()

np.int64(0)

In [92]:
campaigns.isnull().sum()

campaign_id      0
name             0
start_date       0
end_date         0
duration_days    0
total_budget     0
dtype: int64

In [93]:
campaigns.duplicated().sum()

np.int64(0)

In [94]:
users.isnull().sum()

user_id        0
user_gender    0
user_age       0
age_group      0
country        0
location       0
interests      0
dtype: int64

In [95]:
users.duplicated().sum()

np.int64(0)

In [96]:
ads.describe()

            ad_id  campaign_id
count  200.000000   200.000000
mean   100.500000    25.125000
std     57.879185    13.713485
min      1.000000     1.000000
25%     50.750000    13.000000
50%    100.500000    25.000000
75%    150.250000    37.000000
max    200.000000    50.000000

In [97]:
ad_events.describe()

            event_id          ad_id                      timestamp
count  400000.000000  400000.000000                         400000
mean   200000.500000     100.535965  2025-06-22 01:09:12.365887744
min         1.000000       1.000000            2025-05-07 14:11:57
25%    100000.750000      51.000000            2025-05-30 07:55:34
50%    200000.500000     101.000000     2025-06-22 00:15:13.500000
75%    300000.250000     151.000000  2025-07-14 19:47:24.249999872
max    400000.000000     200.000000            2025-08-06 14:11:30
std    115470.198175      57.775915                            NaN

In [98]:
campaigns.describe()

,campaign_id,start_date,end_date,duration_days,total_budget
count,50.00000,50,50,50.000000,50.000000
mean,25.50000,2025-04-30 02:52:48,2025-07-05 03:50:24,66.040000,50718.475600
min,1.00000,2025-02-13 00:00:00,2025-04-02 00:00:00,32.000000,7918.040000
25%,13.25000,2025-03-30 12:00:00,2025-06-01 18:00:00,52.500000,31105.435000
50%,25.50000,2025-04-23 12:00:00,2025-07-01 12:00:00,69.500000,48053.655000
75%,37.75000,2025-05-26 18:00:00,2025-08-04 12:00:00,81.750000,71600.592500
max,50.00000,2025-07-23 00:00:00,2025-10-12 00:00:00,90.000000,98904.660000
std,14.57738,NaN,NaN,16.380626,24576.018632

In [99]:
users.describe()

           user_age
count  10000.000000
mean      27.646900
std        8.311686
min       16.000000
25%       21.000000
50%       26.000000
75%       32.000000
max       65.000000

#### Create a master table

In [100]:
def create_master_table(ad_events, ads, campaigns, users):
    merged = pd.merge(ad_events, ads, on='ad_id', how='left')
    merged = pd.merge(merged, campaigns, on='campaign_id', how='left')
    merged = pd.merge(merged, users, on='user_id', how='left')
    return merged

master_df = create_master_table(ad_events, ads, campaigns, users)

# Inspect the final master table
print(master_df.head())
print(master_df.shape)

   event_id  ad_id user_id           timestamp day_of_week time_of_day  \
0         1    197   2359b 2025-07-26 00:19:56    saturday       night
1         2     51   f9c67 2025-06-15 08:28:07      sunday     morning
2         3     46   5b868 2025-06-27 00:40:02      friday       night
3         4    166   3d440 2025-06-05 19:20:45    thursday     evening
4         5     52   68f1a 2025-07-22 08:30:29     tuesday     morning

   event_type  campaign_id ad_platform   ad_type  ... start_date   end_date  \
0        like            9    facebook   stories  ... 2025-05-25 2025-07-13
1       share           26   instagram  carousel  ... 2025-04-01 2025-06-17
2  impression           10   instagram  carousel  ... 2025-05-17 2025-07-21
3  impression           14   instagram     image  ... 2025-04-15 2025-06-04
4  impression            2   instagram   stories  ... 2025-04-16 2025-07-07

  duration_days total_budget user_gender user_age  age_group         country  \
0            49     40094.07      female       24      18-24   united states
1            77     44538.87      female       30      25-34   united states
2            65     19669.27        male       20      18-24   united states
3            50     39849.94      female       18      18-24   united states
4            82     79342.41        male       58      55-65  united kingdom

          location                interests
0      west shawna             gaming, food
1       meyersland     photography, finance
2     barrerahaven  fashion, sports, travel
3  lake angelaland                food, art
4     robinsonberg       finance, lifestyle

[5 rows x 24 columns]
(403967, 24)

##### Calculate Performance Metrics

In [101]:
# Event counts per AD: grouping the master table by ad-level identifiers, 
# so instead of having event_type as a row index, each event type becomes a separate column.
ad_summary = master_df.groupby(['ad_id', 'campaign_id', 'ad_platform', 'ad_type']).event_type.value_counts().unstack(fill_value=0).reset_index()

# Lowercase all column names
ad_summary.columns = [col.lower() for col in ad_summary.columns]

# Drop duplicate columns if any
ad_summary = ad_summary.loc[:, ~ad_summary.columns.duplicated()]

# If a column is missing, this adds it and fills it with 0, 
# even if one ad never got a click/purchase/impression
for col in ['impression', 'click', 'purchase']:
    if col not in ad_summary.columns:
        ad_summary[col] = 0


# CTR & CVR
ad_summary['CTR'] = ad_summary['click'] / ad_summary['impression']
ad_summary['CVR'] = ad_summary['purchase'] / ad_summary['click']

# Sort by CVR to see best performing ads
ad_summary = ad_summary.sort_values(by='CVR', ascending=False)
print(ad_summary.head(10))

     ad_id  campaign_id ad_platform  ad_type  click  comment  impression  \
188    189           41    facebook    image    184       18        1774
55      56            1   instagram  stories    190       13        1735
189    190           33    facebook    image    178       22        1706
153    154           27   instagram  stories    194       22        1691
178    179            5   instagram  stories    181       27        1699
12      13            6    facebook  stories    191       21        1726
179    180           47   instagram    image    215       25        1739
93      94           14    facebook    video    184       13        1654
121    122           10    facebook  stories    213       15        1715
30      31           21    facebook    image    188       17        1691

     like  purchase  share       CTR       CVR
188    55        19      8  0.103720  0.103261
55     74        19      8  0.109510  0.100000
189    58        17      7  0.104338  0.095506
153    75        18     12  0.114725  0.092784
178    77        16     10  0.106533  0.088398
12     66        16     13  0.110660  0.083770
179    70        18     14  0.123634  0.083721
93     63        15     12  0.111245  0.081522
121    73        17     10  0.124198  0.079812
30     60        15     11  0.111177  0.079787

In [102]:
# sanity check

ad_summary.info()
ad_summary.head()

print(ad_summary[['impression','click','purchase']].sum())

ad_summary[['impression','click','purchase']].describe()

print('duplicated = ')
ad_summary['ad_id'].duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 188 to 79
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ad_id        200 non-null    int64
 1   campaign_id  200 non-null    int64
 2   ad_platform  200 non-null    object
 3   ad_type      200 non-null    object
 4   click        200 non-null    int64
 5   comment      200 non-null    int64
 6   impression   200 non-null    int64
 7   like         200 non-null    int64
 8   purchase     200 non-null    int64
 9   share        200 non-null    int64
 10  CTR          200 non-null    float64
 11  CVR          200 non-null    float64
dtypes: float64(2), int64(8), object(2)
memory usage: 20.3+ KB
impression    343157
click          40495
purchase        2050
dtype: int64
duplicated =

np.int64(0)

##### Funnel Metrics

In [103]:
# Ad Funnel Metrics

ad_summary['impression_to_click'] = ad_summary['click'] / ad_summary['impression']
ad_summary['click_to_purchase'] = ad_summary['purchase'] / ad_summary['click']
ad_summary['overall_conversion'] = ad_summary['purchase'] / ad_summary['impression']

print(ad_summary[['ad_id', 'campaign_id', 'ad_platform', 'ad_type',
                  'impression', 'click', 'purchase',
                  'impression_to_click', 'click_to_purchase', 'overall_conversion']].head(10))

# CTR tells us how engaging an ad is at getting attention.
# CVR tells us how persuasive it is after someone clicks.
# Overall conversion tells us which ads are best at driving revenue.

     ad_id  campaign_id ad_platform  ad_type  impression  click  purchase  \
188    189           41    facebook    image        1774    184        19
55      56            1   instagram  stories        1735    190        19
189    190           33    facebook    image        1706    178        17
153    154           27   instagram  stories        1691    194        18
178    179            5   instagram  stories        1699    181        16
12      13            6    facebook  stories        1726    191        16
179    180           47   instagram    image        1739    215        18
93      94           14    facebook    video        1654    184        15
121    122           10    facebook  stories        1715    213        17
30      31           21    facebook    image        1691    188        15

     impression_to_click  click_to_purchase  overall_conversion
188             0.103720           0.103261            0.010710
55              0.109510           0.100000            0.010951
189             0.104338           0.095506            0.009965
153             0.114725           0.092784            0.010645
178             0.106533           0.088398            0.009417
12              0.110660           0.083770            0.009270
179             0.123634           0.083721            0.010351
93              0.111245           0.081522            0.009069
121             0.124198           0.079812            0.009913
30              0.111177           0.079787            0.008870

In [104]:
# Campaign funnel metrics

campaign_funnel = master_df.groupby('campaign_id').event_type.value_counts().unstack(fill_value=0)

for col in ['impression', 'click', 'purchase']:
    if col not in campaign_funnel.columns:
        campaign_funnel[col] = 0

campaign_funnel['impression_to_click'] = campaign_funnel['click'] / campaign_funnel['impression']
campaign_funnel['click_to_purchase'] = campaign_funnel['purchase'] / campaign_funnel['click']
campaign_funnel['overall_conversion'] = campaign_funnel['purchase'] / campaign_funnel['impression']

print(campaign_funnel.head(10))

event_type   click  comment  impression  like  purchase  share  \
campaign_id
1              583       51        5089   189        35     25
2              601       66        5308   175        31     26
3              790       80        6775   243        43     41
4             1194      121       10365   359        49     74
5              588       70        5160   219        34     28
6              577       59        5165   205        33     26
7              607       65        5048   185        33     33
8             1006      105        8563   310        47     55
9             1237      123       10461   348        63     42
10             773       80        6723   239        51     39

event_type   impression_to_click  click_to_purchase  overall_conversion
campaign_id
1                       0.114561           0.060034            0.006878
2                       0.113225           0.051581            0.005840
3                       0.116605           0.054430            0.006347
4                       0.115195           0.041039            0.004727
5                       0.113953           0.057823            0.006589
6                       0.111713           0.057192            0.006389
7                       0.120246           0.054366            0.006537
8                       0.117482           0.046720            0.005489
9                       0.118249           0.050930            0.006022
10                      0.114978           0.065977            0.007586

In [105]:
# Platfrom funnel metric

platform_funnel = master_df.groupby('ad_platform').event_type.value_counts().unstack(fill_value=0)

for col in ['impression', 'click', 'purchase']:
    if col not in platform_funnel.columns:
        platform_funnel[col] = 0

platform_funnel['impression_to_click'] = platform_funnel['click'] / platform_funnel['impression']
platform_funnel['click_to_purchase'] = platform_funnel['purchase'] / platform_funnel['click']
platform_funnel['overall_conversion'] = platform_funnel['purchase'] / platform_funnel['impression']

print(platform_funnel)

event_type   click  comment  impression  like  purchase  share  \
ad_platform
facebook     25641     2655      218042  7589      1333   1288
instagram    14854     1487      125115  4556       717    690

event_type   impression_to_click  click_to_purchase  overall_conversion
ad_platform
facebook                0.117597           0.051987            0.006114
instagram               0.118723           0.048270            0.005731

##### Segment by ad characteristics (platform, ad_type) (what & why)

What: group by ad_platform and ad_type to compare performance. <br>
Why: tells you what kind of creative and where work best. <br>
Which platform (Instagram vs Facebook, etc.) drives more engagement and conversions?
Which ad format (video vs image, etc.) converts better?
Which campaigns are most efficient in turning budget into purchases? <br>

Questions answered: Do videos convert better than images? Is Instagram or Facebook more efficient?

In [108]:
# platform summary
platform_summary = ad_summary.groupby('ad_platform')[['impression','click','purchase']].sum().reset_index()
platform_summary['ctr'] = platform_summary['click'] / platform_summary['impression'].replace(0, pd.NA)
platform_summary['cvr'] = platform_summary['purchase'] / platform_summary['click'].replace(0, pd.NA)
platform_summary

# ad type summary
adtype_summary = ad_summary.groupby('ad_type')[['impression','click','purchase']].sum().reset_index()
adtype_summary['ctr'] = adtype_summary['click'] / adtype_summary['impression'].replace(0, pd.NA)
adtype_summary['cvr'] = adtype_summary['purchase'] / adtype_summary['click'].replace(0, pd.NA)
adtype_summary.sort_values('cvr', ascending=False)

    ad_type  impression  click  purchase       ctr       cvr
2   stories      109987  12916       687  0.117432  0.053190
0  carousel       87545  10248       525  0.117060  0.051230
3     video       56603   6736       344  0.119004  0.051069
1     image       89022  10595       494  0.119016  0.046626

In [107]:
# aggregate ad_summary to campaign
campaign_summary = (
    ad_summary
    .groupby('campaign_id')[['impression','click','purchase']]
    .sum()
    .reset_index()
)

campaign_summary['ctr'] = campaign_summary['click'] / campaign_summary['impression'].replace(0, pd.NA)
campaign_summary['cvr'] = campaign_summary['purchase'] / campaign_summary['click'].replace(0, pd.NA)

# attach campaign metadata (budget, duration) from campaigns DF
campaign_summary = campaign_summary.merge(campaigns[['campaign_id','total_budget','duration_days','name']], on='campaign_id', how='left')

# handle zero budget (purchases_per_1000_budget means 
# For every 1,000 units of budget spent (let's say $1,000 if budget is in dollars), how many purchases did we generate?)
campaign_summary['purchases_per_1000_budget'] = campaign_summary.apply(
    lambda r: (r['purchase'] / r['total_budget'] * 1000) if r['total_budget'] and r['total_budget']>0 else pd.NA,
    axis=1
)

# sort 
campaign_summary.sort_values('cvr', ascending=False).head(10)

,campaign_id,impression,click,purchase,ctr,cvr,total_budget,duration_days,name,purchases_per_1000_budget
25,27,3355,397,33,0.118331,0.083123,12986.30,48,campaign_27_q3,2.541140
29,31,5093,598,42,0.117416,0.070234,72208.34,56,campaign_31_summer,0.581650
21,23,5066,611,42,0.120608,0.068740,26001.67,84,campaign_23_winter,1.615281
9,10,6723,773,51,0.114978,0.065977,19669.27,65,campaign_10_winter,2.592877
24,26,5178,569,37,0.109888,0.065026,44538.87,77,campaign_26_winter,0.830735
31,33,12155,1415,86,0.116413,0.060777,59264.68,87,campaign_33_summer,1.451117
36,38,13550,1610,97,0.118819,0.060248,71038.28,36,campaign_38_q3,1.365461
0,1,5089,583,35,0.114561,0.060034,24021.32,59,campaign_1_launch,1.457039
19,21,6797,819,49,0.120494,0.059829,37290.81,64,campaign_21_winter,1.313997
10,11,5146,625,37,0.121454,0.059200,79067.91,69,campaign_11_q3,0.467952

##### Audience Segmentation

In [ ]:
# by gender
gender_summary = (
    master_df
    .groupby(['user_gender','event_type'])
    .size()
    .unstack(fill_value=0)   # pivot event_type into columns
    .reset_index()
)

for col in ['impression','click','purchase']:
    if col not in gender_summary.columns:
        gender_summary[col] = 0

gender_summary['ctr'] = gender_summary['click'] / gender_summary['impression'].replace(0, pd.NA)
gender_summary['cvr'] = gender_summary['purchase'] / gender_summary['click'].replace(0, pd.NA)


gender_summary

GENDER

event_type,user_gender,click,comment,impression,like,purchase,share,ctr,cvr
0,female,14221,1392,119495,4132,728,686,0.119009,0.051192
1,male,22790,2350,194125,6972,1144,1111,0.117399,0.050197
2,other,4316,468,36227,1305,216,223,0.119138,0.050046

In [123]:
# by age
age_summary = master_df.groupby(['age_group', 'event_type']).size().unstack(fill_value=0).reset_index()

for col in ['impression', 'click', 'purchase']:
    if col not in age_summary.columns:
        age_summary[col] = 0

age_summary['ctr'] = age_summary['click'] / age_summary['impression'].replace(0, pd.NA)
age_summary['cvr'] = age_summary['purchase'] / age_summary['click'].replace(0, pd.NA)

# print(age_summary.sort_values('cvr', ascending=False))

age_summary

event_type,age_group,click,comment,impression,like,purchase,share,ctr,cvr
0,16-17,3587,380,30579,1061,160,170,0.117303,0.044606
1,18-24,12723,1270,108240,3829,650,640,0.117544,0.051089
2,25-34,17232,1762,145360,5108,878,829,0.118547,0.050952
3,35-44,6069,641,51482,1863,317,310,0.117886,0.052233
4,45-54,1363,128,11273,427,66,58,0.120908,0.048423
5,55-65,353,29,2913,121,17,13,0.121181,0.048159

In [124]:
# by location
country_summary = master_df.groupby(['country', 'event_type']).size().unstack(fill_value=0).reset_index()

for col in ['impression', 'click', 'purchase']:
    if col not in country_summary.columns:
        country_summary[col] = 0

country_summary['ctr'] = country_summary['click'] / country_summary['impression'].replace(0, pd.NA)
country_summary['cvr'] = country_summary['purchase'] / country_summary['click'].replace(0, pd.NA)


print('LOCATION')
# print(country_summary.sort_values('cvr', ascending=False).head(10))  
country_summary

LOCATION

event_type,country,click,comment,impression,like,purchase,share,ctr,cvr
0,australia,3026,326,25072,886,133,138,0.120692,0.043952
1,brazil,2488,245,21262,779,120,131,0.117016,0.048232
2,canada,4176,396,35160,1314,207,204,0.118771,0.049569
3,france,1519,169,13318,493,63,81,0.114056,0.041475
4,germany,3354,376,28500,968,153,170,0.117684,0.045617
5,india,3940,395,32733,1193,191,170,0.120368,0.048477
6,japan,1991,216,17074,577,131,98,0.116610,0.065796
7,mexico,2120,218,18362,639,131,108,0.115456,0.061792
8,united kingdom,6139,626,52620,1818,294,298,0.116667,0.047891
9,united states,12574,1243,105746,3742,665,622,0.118908,0.052887

##### Campaign-level aggregation (what & why)
What: roll ad-level metrics up to campaign-level. <br>
Why: campaigns are the unit of budget and strategy, this answers which campaigns perform best overall and helps allocate budget. <br>
Questions answered: Which campaigns have highest CTR/CVR? Which campaigns generated most purchases? Which are budget-efficient?